apiVersion: v1
kind: Service
metadata:
  name: chuanliubuxi
  labels:
    app: chuanliubuxi
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: chuanliubuxi
